<header class="header">
    <div class="s-container">

        <nav class="s-flex:align-center">
            <div>
                <a href="/" title="Kraken">
                    {% include 'generic/logo/logo.twig' %}
                </a>
            </div>
            <div class="s-flex-item:grow">
                {% include 'sugar/menu/generic/generic.twig' with {
                    id: 'primary-menu',
                    menu: menus.primary
                } %}
                <label for="primary-menu" class="_menu-toggle"></label>
            </div>
        </nav>
    </div>
</header>