<div s-appear in="top">
    {% include 'generic/logo.twig' %}

    <h1 class="s-typo:h3 s-mbs:30 s-mbe:20">
        Congrats!
    </h1>

    <p class="s-typo:p s-mb:30">
        If you are here, that means you choose <span class="s-tc:complementary">the dark side</span> of the force. Who said that <span class="s-tc:accent">the bright side</span> is better?...
    </p>

    <div class="s-display:inline-flex s-font:50 s-gap:20">
        <a href="https://github.com/Coffeekraken/coffeekraken" title="Discover our codebase" target="_blank">
            <i class="s-icon:github"></i>
        </a>
        <a href="https://discord.com/channels/940362961682333767/940362962223378494" title="Join us on Discord" target="_blank">
            <i class="s-icon:discord"></i>
        </a>
        <a href="https://twitter.com/intent/tweet?url=https://coffeekraken.io" title="Make a tweet!" target="_blank">
            <i class="s-icon:twitter"></i>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://coffeekraken.io" title="Share on Facebook!" target="_blank">
            <i class="s-icon:facebook"></i>
        </a>
        <a href="https://www.patreon.com/coffeekraken" title="Support us on Patreon!" target="_blank">
            <i class="s-icon:patreon"></i>
        </a>
    </div>

</div>