.section-card {
    padding-block: sugar.padding(60);

    .s-layout {
        @sugar.layout ('1 1 2');
        gap: sugar.padding(50);

        @sugar.media <=mobile {
            @sugar.layout ('1 _ 2');
        }
    }

    .s-card {
        @sugar.media <=mobile {
            flex-direction: column;
        }
    }

    .s-layout > div:first-child > .s-card {
        .s-card_media {
            width: 33%;

            @sugar.media <=mobile {
                width: 100%;
            }

            .s-card_img {
                @sugar.media <=mobile {
                    width: 100%;
                    height: 180px;
                }
            }
        }
    }
}
