<section class="section-card {{ paddingClasses(padding) }} {{ marginClasses(margin) }}">
    <div class="s-container:wide">
        <div class="s-layout">
            <div>
                {% include 'sugar/components/card/card.twig' with cardOne only %}
            </div>
            <div>
                {% include 'sugar/components/card/card.twig' with cardTwo only %}
            </div>
        </div>
    </div>
</section>