/* importing sugar toolkit */
@sugar.import ('./sugar.css');
@sugar.import ('./carpenter.css');
@sugar.import ('../views/**/*.css');
@sugar.import ('./generic/**/*.css');

body {
    background: sugar.color(base, background);
    overflow-x: hidden;
}

[s-appear] {
    opacity: 0;
}
[s-appear][appear] {
    opacity: 1;
}

.content {
    min-height: 100vh;
}

/* logo */
.logo {
    svg [fill='white'] {
        fill: sugar.color(main, --darken 10);
    }
    svg [fill='#FEBD0F'] {
        fill: sugar.color(accent);
    }

    @sugar.theme.when (dark) {
        svg [fill='white'] {
            fill: sugar.color(main, text);
        }
        svg [fill='#FEBD0F'] {
            fill: sugar.color(accent);
        }
    }
}
