/**
* Init sugar. This will import a reset css and print the
* needed variables
*/
@sugar.init ($variant: 'dark');

/**
* Generate some utility classes like "s-tc:accent, s-mb:30", etc...
* that depends on your theme configuration
*/
@sugar.classes();

/**
* Generate media scoped classes to use like "@mobile s-pbe:100", etc...
* that depends on your theme configuration
*/
@sugar.media.classes ('mobile,tablet') {
  /* @sugar.margin.classes(); */
  @sugar.padding.classes();
}

/* @sugar.ui.menu.classes(); */
@sugar.ui.slider.classes();
@sugar.ui.googleMap.classes();
@sugar.ui.googleMapMarker.classes();

/**
 * Define some icons to be used with classes like "s-icon:github", etc...
 * Can be fontawesome icons using the "fa", "fab", "fas" and "far" protocol
 * Or can be some filesystem svg using the "fs" protocol (accept glob)
 * With glob: fs:src/icons/*
 * Without glob: fs:src/icon/my-cool-icon.svg:my-icon
 */
@sugar.icon.classes (
    fab:github
    fab:discord
    fab:twitter
    fab:facebook
    fab:patreon
    fab:instagram
    sugar:misc-image:drop-file
    sugar:ui-help-solid:help
);
