<footer class="footer">
    <div class="s-container">
        <div class="s-layout">
            <div>
                <a class="s-display:block s-mbe:30" href="/" title="Kraken">
                    {% include 'generic/logo/logo.twig' %}
                </a>
                <p class="s-typo:p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum varius mauris, vel lobortis sapien ornare vitae.
                </p>
            </div>
            <div></div>
            <div>
                {% include 'sugar/menu/generic/generic.twig' with {
                    'id': 'footer-menu',
                    'menu': menus.footer
                } %}
            </div>
        </div>
    </div>
</footer>