.section-story {
  position: relative;
  padding: sugar.padding(80) sugar.padding(30);
  background: sugar.color(base, background, --darken 5%);

  .s-layout {
    align-items: center;
    gap: sugar.margin(50);
    position: relative;
    z-index: 10;

    @sugar.media mobile {
      @sugar.layout ('2 _ 1');
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: calc(50% - 350px);
    width: 500px;
    height: 500px;
    background-image: linear-gradient(
      135deg,
      sugar.color(base, background),
      sugar.color(base, background, --darken 5%)
    );
    /* background: sugar.color(base, surface); */
    border-radius: 9999px;
    transform: translate(-50%, -50%);
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% - 350px);
    width: 501px;
    height: 501px;
    background-image: linear-gradient(
      54deg,
      sugar.color(accent),
      sugar.color(accent)
    );
    /* background: sugar.color(base, surface); */
    border-radius: 9999px;
    transform: translate(calc(-50% - 1px), calc(-50% - 1px));
    opacity: 0.1;
  }

  &[layout='21'] {
    transform: skewY(-2deg);

    .s-layout {
      transform: skewY(2deg);
    }

    &:before {
      left: calc(50% + 400px);
    }
    &:after {
      left: calc(50% + 400px);
    }
  }
}
