.menu-about {
  padding: sugar.padding(50);
  background: sugar.color(base, surface);
  @sugar.border.radius();

  @sugar.media mobile {
    padding: sugar.padding(30);
  }

  * {
    white-space: nowrap;

    @sugar.media mobile {
      white-space: unset;
    }
  }
}
